@charset "UTF-8";

body {
    background-color: rgb(58, 12, 143);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.418);

}

footer {
    color: white;
    text-align: center;
}

select {
    width: 200px
}

input#inum {
    width: 150px;
}

